<div id="application" class="page">
  <div class="divided title">
    Application
  </div>

  <div class="ui stackable page grid">
    <div class="column">
      <div class="ui form"
            ng-class="{'loading': loading}">
<fieldset ng-disabled="regIsClosed" ng-hide="!steps[0]">
        <div class="divided title">Basic Information</div>

        <div class="field">
          <label> Email </label>
          <input type="email"
                 name="email"
                 disabled="disabled"
                 ng-model="user.email">
        </div>

        <div class="field">
          <label> Full Name (required) </label>
          <input type="text"
                 name="name"
                 required
                 placeholder="Name"
                 ng-model="user.profile.name">
        </div>

        <div class="field">
            <label> What's your phone number? (required) </label>
            <p>
              We need this in case we need to get ahold of you!
            </p>
            <input
              type="tel"
              name="phone"
              ng-model="user.profile.phoneNumber"
              placeholder="+2348012345478"
              required
            />
          </div>
        <div class="field">
          <label> Age (requried) </label>
          <input type="number"
                  name="age"
                  placeholder="Age"
                  required
                  ng-model="user.profile.age">
        </div>

        <div class="field">
          <label>Gender</label>
          <select
            name="gender"
            placeholder="Gender"
            ng-model="user.profile.gender">
            <option value=""></option>
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="O">Other</option>
            <option value="N">I prefer not to answer.</option>
          </select>
        </div>

        <br />

          <div class="field title" ng-hide="regIsClosed">
            <p>
              Step 1 of 4
            </p>
            <button class="  ui black button" disabled="true">
              Back
            </button>
            <button
              type="submit"
              class=" ui black button"
              ng-click="updateStep(0, 1)"
            >
              Next
            </button>
          </div>
          </fieldset>
        <fieldset ng-disabled="regIsClosed" ng-hide="!steps[1]">
          <div class="divided title">Education</div>
        <div class="field">
          <label>Current Education Level</label>
          <select
            name="educationLevel"
            ng-model="user.profile.educationLevel"
            placeholder="Education Level">
            <option value=""></option>
            <option value="S">Secondary</option>
            <option value="T">Tertiary</option>
            <option value="V">Vocational</option>
            <option value="N">None</option>
            <option value="O">Other</option>
          </select>
        </div>

        <div class="field">
          <label>School Attending/Attended. Please enter 'None' or your company name if
              employed. (required)</label>
          <input type="text"
                  name="school"
                  placeholder="School"
                  required
                  ng-model="user.profile.school">
        </div>

        <div class="field">
          <label> Expected Graduation Year (from Tertiary School) </label>
          <select
            name="year"
            placeholder="Graduation year"
            ng-model="user.profile.graduationYear">
            <option value=""></option>
            <option value="None">None</option>
            <option value="pre-2020">Before 2020</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
            <option value="2026">2026</option>
            <option value="2027">2027</option>
          </select>
        </div>
         <div class="field">
            <label>
              What is your employment status?
            </label>
            <select name="employment" ng-model="user.profile.employment" placeholder="Employment status">
              <option value=""></option>
              <option value="Employed">Employed</option>
              <option value="Looking for a job">Looking for a job</option>
              <option value="Unemployed">Unemployed</option>
              <option value="Underemployed">Underemployed</option>
              <option value="Looking to start a company"
                >Looking to start a company</option
              >
            </select>
          </div>

           <br />

          <div class="field title" ng-hide="regIsClosed">
            <p>
              Step 2 of 4
            </p>
            <button
              type="submit"
              class="  ui black button"
              ng-click="updateStep(1,0)"
            >
              Back
            </button>
            <button
              type="submit"
              class=" ui black button"
              ng-click="updateStep(1, 2)"
            >
              Next
            </button>
          </div>
        </fieldset>
        <fieldset ng-disabled="regIsClosed" ng-hide="!steps[2]">
          <div class="divided title">Supporting Information</div>

        <div class="field">
          <label>I would describe myself as a...</label>
          <input type="text"
                 placeholder="Designer, Data Scientist, iOS Wizard, Hacker Extraordinaire"
                 ng-model="user.profile.description">
        </div>

        <div class="field">
            <label>
              What programming languages/design software have you learned or
              worked with?
            </label>
            <input
              type="text"
              placeholder="Python, C, C++, Web Development, UI/UX Design"
              ng-model="user.profile.languages"
              name="languages"
            />
          </div>

         
        <div class="field">
          <label>
              What would you like to learn or get out of BothoHacks? (required)
          </label>
          <textarea required ng-model="user.profile.essay">
          </textarea>
        </div>


        <br>

        <div class="field title" ng-hide="regIsClosed">
            <p>
              Step 3 of 4
            </p>
            <button
              type="submit"
              class="  ui black button"
              ng-click="updateStep(2,1)"
            >
              Back
            </button>

            <button
              type="submit"
              class=" ui black button"
              ng-click="updateStep(2, 3)"
            >
              Next
            </button>
          </div>
        </fieldset>
        <fieldset ng-disabled="regIsClosed" ng-hide="!steps[3]">
          <div class="divided title">Legal</div>

          <div class="field">
            <label> Code of Conduct (required) </label>
            <p>
              <a
                target="_blank"
                href="https://docs.google.com/document/d/1254tsm-YHF2HDe4C1E8QphqzQWQ-o_VI7expcefEQ6I/edit?usp=sharing"
              >
                Hacker Code of Conduct
              </a>
            </p>
            <p>
              It is extremely important to us that attendees follow a set of
              guidelines to make the event fun for everyone involved. Please
              read through and make sure you understand what we will be
              expecting of you.
            </p>
            <p>
              By writing my name below, I affirm that I have read and will abide
              by the code of conduct detailed above.
            </p>
            <input
              type="text"
              name="signatureCodeOfConduct"
              placeholder="Your Full Legal Name"
              required
              ng-model="user.confirmation.signatureCodeOfConduct"
            />
          </div>

          <div class="field">
            <label> Photo Release (required) </label>
            <p>
              <a
                target="_blank"
                href="https://docs.google.com/document/d/1cqkcmoMl7S5b-2iFX3btYwBnTCTUggpsx6giTq0AEHk/edit?usp=sharing"
              >
                Photo Release
              </a>
            </p>
            <p>
              Signing this photo release means if we take photos or photos of
              you, we can share it with the world.
            </p>
            <p>
              By writing my name below, I affirm that I have read and accepted
              the terms of the photo release above.
            </p>
            <input
              type="text"
              name="signaturePhotoRelease"
              placeholder="Your Full Legal Name"
              required
              ng-model="user.confirmation.signaturePhotoRelease"
            />
          </div>

          <div class="field">
            <label> Participant Agreement (required) </label>
            <p>
              <!-- <a
                target="_blank"
                href="https://go.hackmit.org/liability-waiver">
                Liability Waiver
              </a> -->
              <a
                target="_blank"
                href="https://docs.google.com/document/d/1kM6jLStbhycdrJtv7QwUdwLoPiYXHjNnyldbircSMpM/edit?usp=sharing"
              >
                Terms and Conditions 
              </a>
            </p>
            <p>
              For legal reasons, the NaijaHacks team asks that you read and
              accept the terms and conditions above.
            </p>
            <p>
              By writing my name below, I affirm that I have read and accepted
              the terms of the terms and condition above, and agree to it.
            </p>
            <input
              type="text"
              name="signatureLiabilityWaiver"
              placeholder="Your Full Legal Name"
              required
              ng-model="user.confirmation.signatureLiability"
            />
          </div>

        <div class="field" ng-hide="regIsClosed"><p>
              Step 4 of 4
            </p>
            <button
              type="submit"
              class="  ui black button"
              ng-click="updateStep(3,2)"
            >
              Back
            </button>
            <br><br>
          <button type="submit"
                  class="fluid ui blue button"
                  ng-click="submitForm()">
            Submit
          </button>
        </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>
