<div id="application" class="page">
  <div class="divided title">
    Application
  </div>

  <div class="ui stackable page grid">
    <div class="column">
      <div class="ui form"
            ng-class="{'loading': loading}">

        <div class="divided title">Basic Information</div>

        <fieldset ng-disabled="regIsClosed">

        <div class="field">
          <label> Email </label>
          <input type="email"
                 name="email"
                 disabled="disabled"
                 ng-model="user.email">
        </div>

        <div class="field">
          <label> Full Name </label>
          <input type="text"
                 name="name"
                 ng-model="user.profile.name">
        </div>

        <div class="field">
          <label> Age </label>
          <input type="number"
                  name="age"
                  ng-model="user.profile.age">
        </div>

        <div class="field">
          <label>Gender</label>
          <select
            name="gender"
            ng-model="user.profile.gender">
            <option value="">Gender</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="O">Other</option>
            <option value="N">I prefer not to answer.</option>
          </select>
        </div>

        <div class="field">
          <label>Phone Number</label>
          <input
            type="tel"
            name="phone"
            ng-model="user.profile.phoneNumber"
            placeholder="+2348012345478"
            required
          />
        </div>

        <div class="field">
          <label>Current Education Level</label>
          <select
            name="educationLevel"
            ng-model="user.profile.educationLevel"
            placeholder="Education Level">
            <option value="S">Secondary</option>
            <option value="T">Tertiary</option>
            <option value="V">Vocational</option>
            <option value="N">None</option>
            <option value="O">Other</option>
          </select>
        </div>

        <div class="field">
          <label>School Attending/Attended.Please enter 'None' or your company name if
              employed.</label>
          <input type="text"
                  name="school"
                  ng-model="user.profile.school">
        </div>

        <div class="field">
          <label> Expected Graduation Year (from Tertiary School) </label>
          <select
            name="year"
            ng-model="user.profile.graduationYear">
            <option value="">Graduation Year</option>
            <option value="None">None</option>
            <option value="pre-2020">Before 2020</option>
            <option value="2016">2020</option>
            <option value="2017">2021</option>
            <option value="2018">2022</option>
            <option value="2019">2023</option>
            <option value="2019">2024</option>
            <option value="2019">2025</option>
            <option value="2019">2026</option>
            <option value="2019">2027</option>
          </select>
        </div>

         <div class="field">
            <label>
              What is your employment status?
            </label>
            <select name="focus" ng-model="user.profile.employment">
              <option value=""></option>
              <option value="Employed">Employed</option>
              <option value="Looking for a job">Looking for a job</option>
              <option value="Unemployed">Unemployed</option>
              <option value="Underemployed">Underemployed</option>
              <option value="Looking to start a company"
                >Looking to start a company</option
              >
            </select>
          </div>

        <div class="field">
          <label>I would describe myself as a...</label>
          <input type="text"
                 placeholder="Designer, Data Scientist, iOS Wizard, Hacker Extraordinaire"
                 ng-model="user.profile.description">
        </div>

        <div class="field">
            <label>
              What programming languages/design software have you learned or
              worked with?
            </label>
            <input
              type="text"
              ng-model="user.profile.languages"
              name="languages"
            />
          </div>

         
        <div class="field">
          <label>
              What would you like to learn or get out of BothoHacks? (required)
          </label>
          <textarea ng-model="user.profile.essay">
          </textarea>
        </div>


        <br>

        <div class="field" ng-hide="regIsClosed">
          <button type="submit"
                  class="fluid ui black button"
                  ng-click="submitForm()">
            Submit
          </button>
        </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>
