<div class="page">
  <div class="divided title">
    Confirmation
  </div>

  <div class="ui stackable page grid">
    <div class="column">

      <div class="ui form">

        <div class="divided title">Participant Confirmation</div>

        <fieldset ng-disabled="pastConfirmation">

          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" ng-model="user.confirmation.confirm">
              <label>I am attending BothoHacks 2020 on March 16th & 17th at Botho University in Gaborone, Botswana.</label>
            </div>
          </div>

           <br>
          <br>

          <div class="divided title">mentor</div>


          <div class="field">
            <label>
              Will you be bringing a faculty member from your university as a mentor or advisor for your team? (optional)
            </label>
            <div class="ui checkbox">
              <input type="checkbox" ng-model="user.confirmation.mentor">
              <label> Yes, a mentor or advisor will be coming with my team to BothoHacks. </label>
            </div>
          </div>

          <div
            class="field"
            ng-show="user.confirmation.mentor">
            <label>
              What is the email address of your mentor or advisor?
            </label>
            <input type="text" ng-model="user.confirmation.mentorEmail">
          </div>

          <br>
          <br>

          <div class="divided title">anything else</div>

          <div class="field">
            <label>
              Additional Notes
            </label>
            <p>
              If there's anything else you need to let us know, tell us here!
            </p>
            <textarea
              ng-model="user.confirmation.notes"></textarea>
          </div>

          <div class="field" ng-hide="regIsClosed">
            <button type="submit"
                    class="fluid ui black button"
                    ng-click="submitForm()">
              Submit
            </button>
          </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>
